body{
    overflow-x: hidden;
}

img{
    max-width: 100%;
}
.main-width{
    max-width: 1280px;
    margin: auto;
}
.contaciner-width{
    max-width: 1165px;
    margin: auto;
}

/* ***********HEADER AREA START HERE*********** */
.header-area {
    padding: 13px 0;
}
.header-area ul {
    margin-left: 40px;
}
.header-area ul li a {
    font-weight: 400;
}
/* ***********HEADER AREA END HERE*********** */
/* ***********BANNER AREA START HERE*********** */
.banner-area .carousel-item{
    position: relative;
    z-index: 1;
}
section.banner-area h5 {
    font-size: 30px;
}
.banner-area .carousel-caption {
    z-index: 1;
    margin-bottom: 301px;
}
.banner-area .carousel-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.11);
    z-index: 0;
}
/* ***********BANNER AREA end HERE*********** */

/* ***********ABOUT AREA START HERE*********** */
.about-area {
    margin: 40px 0 45px;
}
/* ***********ABOUT AREA END HERE*********** */

/* ***********CONTACT AREA start HERE*********** */

.contact-info {
    padding: 85px 0 54px;
}
.tabel-area h3 {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 20px;
}

.oure-form h3 {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 20px;
}
.tabel-area {
    margin-right: 48px;
}
/* ***********CONTACT AREA END HERE*********** */
/* ***********CARD AREA START HERE*********** */

.padding {
    padding: 15px;
    box-sizing: border-box;
}
.padding h6 {
    font-size: 19px;
    font-weight: 400;
}
.card-tem1 .card-header h4,.protfoli-card h4 {
    font-weight: 400;
}
.card-tem1 h4 {
    font-weight: 400;
}
.truncate-text h4 {
    font-weight: 400;
}
.progress-area,
.truncate-text,
.item-alert{
    margin-top: 43px;
}
/* ***********CARD AREA END HERE*********** */
.card-tem1 .card-header h4, .protfoli-card h4 {
    font-weight: 400;
    font-size: 29px;
    margin: 0;
}
